[Unit]
Description=CPAPShare
After=network.target udisks2.service
Wants=udisks2.service

[Service]
Type=simple
User=armbian
Group=armbian
ExecStart=/usr/bin/ruby /home/armbian/cpapshare/cpapshare.rb
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
